@model CHEZSWA.Models.Reservatie

<h2>Details van reservatie</h2>

<p><strong>Voornaam:</strong> @Model.Voornaam</p>
<p><strong>Familienaam:</strong> @Model.Familienaam</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Aantal Personen:</strong>@Model.AantalPersonen</p>
<p><strong>Datum:</strong> @Model.Datum.ToString("dd/MM/yyyy")</p>
<p><strong>Tijdstip:</strong>@Model.Tijdstip</p>

<a asp-controller="Reservatie" asp-action="Overzicht">Terug naar overzicht</a>